doctype html
html
  head
    title Login
    link(rel="stylesheet" href="/style.css")
  body.login-page
    form(action="/login" method="POST")
      h2 LOGIN PAGE
      input(
        type="text"
        name="username"
        placeholder="Enter username"
        required
        minlength=3
      )
      input(
        type="password"
        name="password"
        placeholder="Enter your password"
        required
        minlength=6
      )
      button(type="submit") LOGIN